
.UCommerceIcon{
    margin-left : auto;
    margin-right: auto;
    height: 350px;
    margin-bottom: 0px;
    margin-top: -100px;
}

.cont{
    margin-top: auto;
    margin-bottom: auto;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10%;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(175, 219, 158);
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5)
}

.blueButton {
    background-color: rgb(46 16 101);
    color: white;
    width: 16rem;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    margin-top: 0.25rem; /* 4px */
    margin-bottom: 0.25rem; /* 4px */
    padding-top : 2px;
    padding-bottom: 2px;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.blueButton:hover {
    background-color: rgb(59 7 100);
    transform: scale(1.05)
}
.redButton {
    background-color: rgb(190 18 60);
    color: white;
    width: 16rem;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    margin-top: 0.25rem; /* 4px */
    margin-bottom: 0.25rem; /* 4px */
    padding-top : 2px;
    padding-bottom: 2px;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.redButton:hover {
    background-color: rgb(136 19 55);
    transform: scale(1.05)
}