
.productBox{
    background-color: beige;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    border: 1px solid rgb(80, 77, 77);
}

.imageFlexBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profileImage{
    background-color: brown;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    padding: 3px;
    margin: 5%;
}

.profileImage:hover {
    opacity: 0.9;
}

.productImage{
    max-width: 50%;
    max-height: 35%;
}

.priceBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productDisplayText {
    color: black;
    text-align: center;
    margin: 5px;
}