
.registerDiv {
    margin:auto;
    width: 80%;
}

.registerFormLabel {
    display: block;
    margin-left: 20%;
    color: black;
}

.registerFormInput {
    width: 30%;
}

.registerCheckbox{ 
    color: black;
}

.registerSubmitButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.registerSubmitButton:hover{
    opacity: 0.9;
}