
.productBox{
    background-color: beige;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    border: 1px solid rgb(80, 77, 77);

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    height: 100%;

    flex: 1;
    display: flex;
    flex-grow:1;
    flex-direction: column;
    align-items: center;
}

.productImage{
    max-width: 50%;
    max-height: 35%;
    margin: 10px;
    flex: 1;
}

.productText {
    color: black;
    text-align: center;
    margin: 5px;
    text-overflow: ellipsis;
}

.activeProduct {
    width: 80%;
    height: 50px;
    rotate: 270deg;
    background-color: rgb(84, 185, 84);
    text-align: center;
}

.inactiveProduct {
    width: 80%;
    height: 50px;
    rotate: 270deg;
    background-color: red;
    text-align: center;
}