
.productBox{
    background-color: rgb(223, 223, 223);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    border: 1px solid rgb(80, 77, 77);
    border-radius: 4%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textBox {
    height: 100%;

    flex: 1;
    display: flex;
    flex-grow:1;
    flex-direction: column;
    align-items: center;
}

.buttonBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productImage{
    max-width: 50%;
    max-height: 35%;
    margin: 10px;
    flex: 1;
}

.productText {
    color: black;
    text-align: center;
    margin: 5px;
    text-overflow: ellipsis;
}

.activeProduct {
    width: 80%;
    height: 50px;
    background-color: rgb(84, 185, 84);
    text-align: center;
}

.activeProduct:hover {
    transform: scale(1.05);
}

.inactiveProduct {
    width: 80%;
    height: 50px;
    background-color: rgb(219, 13, 13);
    text-align: center;
}
.inactiveProduct:hover {
    transform: scale(1.05);
}
